.business {
   background-color: var(--color-green);
   border-radius: rem(32px);
   &__header {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: rem(17px) rem(22px) 0 rem(22px);
   }
   &__paragraf {
      max-width: rem(330px);
      text-align: center;
      font-weight: 600;
      font-size: rem(32px);   
      color: var(--color-white);
      padding-bottom: rem(70px);
   }
   &__box-img {
      text-align: center;
      margin: rem(32px) 0 0;
   }
   .button {
      min-width: 150px;
   }
}

@media screen and (min-width:992px) {
   .business {
      display: flex;
      justify-content: space-between;
      align-items: center; 
      border-radius: rem(32px);
      &__header {
         align-items: flex-start;
         padding: rem(50px) 0 rem(60px) rem(50px);
      }
      &__paragraf {
         max-width: rem(510px);
         text-align: start;
         font-weight: 600;
         font-size: rem(32px);   
         color: var(--color-white);
         padding-bottom: rem(60px);
      }
      &__box-img {
         padding-right: rem(28px);
         display: flex;
         img {
            margin: auto 0;
         }
      }
   }
}